/* styles.css */

* {
  box-sizing: border-box;
  color: #fff;
}

body {
  background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
  font-family: Arial;
}

input[type="text"] {
  font-size: 1.5em;
  padding: 10px;
  border: solid 2px #000000;
  transition: border 0.3s;
  border-radius: 10px;
}


button {
  margin-top: 20px;
  padding: 12px 18px;
}


#weather {
  margin: 50px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: white;
  border: 2px solid #000000;
  display: none;

}

.hourly {
  border: 3px solid #336699;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  width: 200px;
}

label {
  display: block;
  font-weight: bold;
}

header {
  margin-top: 25px;
}

.badge {
  padding: 10px;
}